<div class="space-y-12">
  <% if @story.plots.any? %>
    <% @story.plots.order(:order, :created_at).each do |plot| %>
      <div class="border border-black rounded-lg p-6 space-y-4">
        <div class="flex items-baseline">
          <span class="font-bold text-xl mr-2">【<%= plot.chapter %>】</span>
          <span class="font-bold text-xl"><%= plot.title %></span>
        </div>        
        <div>
          <p class="font-bold mt-8 mb-4">【要約】</p>
          <p class="ml-4 text-gray-700"><%= plot.summary %></p>
        </div>

        <% if plot.world_guides.any? %>
          <div>
            <p class="font-bold mt-6 mb-4">【ワールドガイド】</p>
            <div class="flex flex-wrap gap-4 mt-2 mb-4 ml-4">
              <% plot.world_guides.each do |wg| %>
                <%= link_to story_world_guide_path(@story, wg), class: "px-3 py-1 text-sm border border-black bg-gray-100 text-black rounded-full hover:bg-gray-300 transition-colors flex items-stretch gap-x-2" do %>
                  <span class="flex items-center"><%= wg.category %></span>
                  <span class="border-l border-gray-700"></span>
                  <span class="flex items-center"><%= [wg.world_name, wg.region_name].compact_blank.join(' / ') %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if plot.characters.any? %>
          <div>
            <p class="font-bold mt-6 mb-4">【キャラクター】</p>
            <div class="flex flex-wrap gap-4 mt-2 ml-4">
              <% plot.characters.each do |char| %>
                <%= link_to story_character_path(@story, char), class: "px-3 py-1 text-sm border border-black bg-gray-100 text-black rounded-full hover:bg-gray-300 transition-colors flex items-stretch gap-x-2" do %>
                  <span class="flex items-center"><%= char.category %></span>
                  <span class="border-l border-gray-700"></span>
                  <span class="flex items-center"><%= char.name %></span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if plot.plot_flags.any? %>
          <div>
            <p class="font-bold mt-6 mb-4">【フラグ】</p>
            <div class="flex flex-wrap gap-4 mt-2 ml-4">
              <% plot.plot_flags.each do |plot_flag| %>
                <% status_class = if plot_flag.check_created && plot_flag.check_recovered
                    "bg-green-100 border border-green-400 text-green-800 hover:bg-green-200"
                  elsif plot_flag.check_created
                    "bg-blue-100 border border-blue-400 text-blue-800 hover:bg-blue-200"
                  elsif plot_flag.check_recovered
                    "bg-green-100 border border-green-400 text-green-800 hover:bg-green-200"
                  else
                    "border border-black bg-gray-100 text-black hover:bg-gray-300"
                  end
                    base_class = "px-3 py-1 text-sm rounded-full transition-colors" %>
                      <%= link_to plot_flag.flag.title, story_flag_path(@story, plot_flag.flag), class: "#{base_class} #{status_class}" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div>
          <p class="font-bold mt-6 ">【構成メモ】</p>
          <div class="ml-4 mt-2 mb-16 text-gray-700 prose max-w-none leading-relaxed">
            <%= simple_format(plot.content) %>
          </div>
        </div>
            
        <div class="flex justify-end items-center gap-4 mt-12">
          <%= link_to "編集する", edit_story_plot_path(@story, plot), class: "border border-gray-400 px-8 py-2 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
          <%= link_to "削除する", "#",
            class: "border border-gray-400 px-8 py-2 rounded-md font-semibold hover:bg-red-500 hover:text-white transition-colors duration-300",
            data: {
                  action: "click->modal#open",
                  modal_url: story_plot_path(@story, plot),
                  modal_title: "プロットの削除",
                  modal_body: "「<strong>#{plot.chapter}：#{plot.title}</strong>」を完全に削除します。この操作は元に戻せません。",
                  modal_button_text: "削除する"
                } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p class="text-center text-gray-500">まだプロットはありません。</p>
  <% end %>
</div>
