<h2 class="text-xl md:text-2xl mb-4 text-black">使い方ガイド</h2>

<div class="guide-sections w-11/12 max-w-2xl mb-8" data-controller="before-home-accordion">
  <%= render 'home/guide_items/google_login' %>
  <%= render 'home/guide_items/create_story' %>
  <%= render 'home/guide_items/create_world_guide' %>
  <%= render 'home/guide_items/create_character' %>
  <%= render 'home/guide_items/create_flag' %>
  <%= render 'home/guide_items/create_plot' %>
</div>

<div data-controller="image-viewer" data-image-viewer-target="modalPlaceholder"></div>
