<%= form_with model: [story, flag], local: true, class: "space-y-8" do |f| %>
  <% if flag.errors.any? %>
    <div id="error_explanation" class="text-red-600 border border-red-300 bg-red-50 p-4 rounded-md">
      <h2 class="font-bold text-lg mb-2"><%= flag.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% flag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "フラグタイトル", class: "block text-lg font-bold" %>
    <%= f.text_field :title, class: "mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-sm", placeholder: "30文字以内で記入してください。" %>
  </div>

  <div>
    <%= f.label :content, "フラグ内容", class: "block text-lg font-bold" %>
    <%= f.text_area :content, rows: 5, class: "mt-1 block w-full px-3 py-2 border border-black rounded-md shadow-sm", placeholder: "フラグの内容を記載してください。" %>
  </div>

  <div class="text-center pt-4">
    <% submit_text = flag.new_record? ? "フラグを作成する" : "フラグを更新する" %>
    <%= f.submit submit_text, class: "w-full inline-block border border-gray-400 px-8 py-2 rounded-md font-semibold hover:bg-black hover:text-white transition-colors duration-300" %>
  </div>
<% end %>
