<% breadcrumb :world_guide, @story, @world_guide %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-screen-xl mx-auto">

    <div class="flex justify-center items-center gap-4 mb-12">
      <%= link_to "ワールドガイドを編集する", edit_story_world_guide_path(@story, @world_guide), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
      <%= link_to "ワールドガイドを削除する", "#",
            class: "border border-gray-400 px-8 py-3 rounded-md font-semibold hover:bg-red-500 hover:text-white",
            data: {
              action: "click->modal#open",
              modal_url: story_world_guide_path(@story, @world_guide),
              modal_title: "ワールドガイドの削除",
              modal_body: "「<strong>#{[@world_guide.country_name, @world_guide.region_name].compact.reject(&:blank?).join(' / ')}</strong>」を完全に削除します。よろしいですか？",
              modal_button_text: "削除する"
            } %>
    </div>
    
    <div class="max-w-3xl mx-auto space-y-6 border-2 border-glay p-8 rounded-lg">
      <div>
        <p class="font-bold">【世界名】</p>
        <p class="text-xl ml-4 mt-2"><%= @world_guide.world_name %></p>
      </div>
      <div>
        <p class="font-bold">【国名】</p>
        <p class="text-xl ml-4 mt-2"><%= @world_guide.country_name %></p>
      </div>
      <div>
        <p class="font-bold">【地域名】</p>
        <p class="text-xl ml-4 mt-2"><%= @world_guide.region_name %></p>
      </div>
      <div>
        <p class="font-bold">【特徴】</p>
        <div class="flex flex-wrap gap-3 mt-4 ml-4">
          <% @world_guide.world_guide_features.each do |feature| %>
            <span class="px-3 py-1 text-md bg-gray-100 border border-black rounded-full">
              <%= feature.world_feature_category.name %> / <%= feature.explanation %>
            </span>
          <% end %>
        </div>
      </div>
      <div>
        <p class="font-bold">【イメージ画像】</p>
        <p class="text-xl ml-4 mt-2">なし</p>
      </div>
    </div>
    
    <div class="text-center mt-12">
      <%= link_to "ワールドガイド一覧に戻る", story_world_guides_path(@story), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    </div>
  </div>
</div>
