<% breadcrumb :story, @story %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-screen-xl mx-auto">

    <div class="flex flex-wrap justify-center items-center gap-8 mb-16">
      <% if @story.published? %>
        <%= button_to "公開中", '#', class: "bg-black text-white px-8 py-3 rounded-md font-semibold", disabled: true %>
        <%= button_to "下書き", set_status_story_path(@story, status: :draft), method: :patch, class: "border border-gray-400 px-8 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
      <% else %>
        <%= button_to "公開", set_status_story_path(@story, status: :published), method: :patch, class: "border border-gray-400 px-8 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
        <%= button_to "下書き", '#', class: "bg-black text-white px-8 py-3 rounded-md font-semibold", disabled: true %>
      <% end %>
    </div>

    <%= render 'stories/tab_navigation' %>

    <%= render 'stories/details' %>

    <%= render 'stories/plots_section' %>

    <div class="flex justify-center mt-14">
      <%= link_to "ストーリーを削除する", "#",
        class: "border border-gray-400 px-4 py-3 rounded-md font-semibold hover:bg-red-500 hover:text-white transition-colors duration-300",
        data: {
          action: "click->modal#open",
          modal_url: story_path(@story),
          modal_title: "ストーリーの削除",
          modal_body: "「<strong>#{@story.title}</strong>」を完全に削除します。この操作は元に戻せません。",
          modal_button_text: "削除する"
        } %>
    </div>
  </div>
</div>
