<% breadcrumb :world_guide_feature, @story, @world_guide_feature %>
<div class="px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-screen-xl mx-auto">
    <h1 class="text-center text-3xl md:text-4xl font-bold tracking-tight mt-12 mb-14">特徴の詳細を確認しよう！</h1>

    <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mb-12">
      <%= link_to "特徴を編集する", edit_story_world_guide_feature_path(@story, @world_guide_feature), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    </div>
    
    <div class="max-w-3xl mx-auto space-y-6 border-2 border-gray-300 p-8 rounded-lg bg-white shadow">
      <div>
        <p class="font-bold">【特徴】</p>
        <p class="text-xl ml-4 mt-2"><%= @world_guide_feature.world_feature_category.name %></p>
      </div>
      <div>
        <p class="font-bold">【説明】</p>
        <p class="text-xl ml-4 mt-2"><%= @world_guide_feature.explanation.presence || "未設定" %></p>
      </div>
      <div>
        <p class="font-bold">【詳細説明】</p>
        <div class="ml-4 mt-2">
          <% if @world_guide_feature.description.present? %>
            <div class="prose max-w-none">
              <%= simple_format(@world_guide_feature.description) %>
            </div>
          <% else %>
            <p class="text-gray-500">詳細説明は未設定です。「特徴を編集する」ボタンより作成ください。</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-center mt-12">
      <%= link_to "ワールドガイド詳細に戻る", story_world_guide_path(@story, @world_guide_feature.world_guide), class: "border border-gray-400 px-6 py-3 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    </div>
  </div>
</div>
