<header class="flex justify-between items-center px-8 py-4 border-b border-black bg-white shadow-sm">
  <div class="flex items-center">
    <%= link_to root_path, class: "" do %>
      <%= image_tag "logo.png", alt: "Historia", class: "w-24" %>
    <% end %>
  </div>
  <nav class="flex items-center space-x-4">
    <%= button_to "ログアウト", logout_path, method: :delete, class: "border border-gray-400 px-4 py-2 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    <%= link_to "使い方ガイド ※準備中", "#", class: "border border-gray-400 px-4 py-2 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
    <%= link_to "ホームに戻る", stories_path, class: "border border-gray-400 px-4 py-2 rounded-md font-semibold hover:bg-gray-100 transition-colors duration-300" %>
  </nav>
</header>
