<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Historia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <% if controller_name == 'stories' && action_name == 'index' %>
        <%= render 'layouts/header_after_story' %>
      <% else %>
        <%= render 'layouts/header_after_login' %>
      <% end %>
    <% else %>
      <%= render 'layouts/header_before_login' %>
    <% end %>

    <main class="flex-grow">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <nav class="text-sm text-black py-4" aria-label="Breadcrumb">
          <%= breadcrumbs separator: " / " %>
        </nav>
      </div>
      
      <% if notice %><p class="notice"><%= notice %></p><% end %>
      <% if alert %><p class="alert"><%= alert %></p><% end %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
  </body>
</html>
