<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Historia" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
  
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q7B5Z6DT72"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q7B5Z6DT72');
    </script>
  </head>

  <body class="flex flex-col min-h-screen" 
      data-controller="modal image-viewer" 
      data-action="show-warning@window->modal#showWarning">
    <% if controller_name == 'static_pages' %>
      <%= render 'layouts/header_static' %>
    <% elsif logged_in? %>
      <% if controller_name == 'stories' && action_name == 'index' %>
        <%= render 'layouts/header_after_story' %>
      <% else %>
        <%= render 'layouts/header_after_login' %>
      <% end %>
    <% else %>
      <%= render 'layouts/header_before_login' %>
    <% end %>

    <main class="flex-grow mb-16">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <nav class="text-sm text-black py-4" aria-label="Breadcrumb">
          <%= breadcrumbs separator: " / " %>
        </nav>

        <% flash.each do |type, message| %>
          <%
            case type.to_sym
            when :success, :notice
              color_class = "bg-green-100 border-green-500 text-green-700"
            when :error, :alert
              color_class = "bg-red-100 border-red-500 text-red-700"
            when :warning
              color_class = "bg-yellow-100 border-yellow-500 text-yellow-700"
            else
              color_class = "bg-blue-100 border-blue-500 text-blue-700"
            end
          %>
          <div class="border-l-4 p-4 my-4 <%= color_class %>" role="alert">
            <p><%= message %></p>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>
    <%= render 'shared/delete_modal' %>
    <%= render 'shared/image_viewer_modal' %>
  </body>
</html>
